.merit {
  padding: .12rem;
  background-color: #bdbcbc;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userscore {
  display: flex;
}